.container__big-card {
  height: 31.25rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 0.625rem;

}

.big-card__title > h1 {
  margin: 1.25rem 0;
  font-size: 1.875rem;
}



.big-card__description > p a {
  color: grey;
}

.big-card__photo > img  {
  width: 100%;
}
