.container__articles {
  margin: 1.25rem auto;
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  justify-content: center;
  max-width: 80rem;
}

.articles__main {
  width: 50%;
}

.articles__others {
  width: 50%;
}
